@{
    ViewData["Title"] = "Thanh Toán Thành Công";
}

<div class="text-center mt-5">
    <h2 class="text-success"><i class="fa-solid fa-circle-check"></i> Thanh Toán Thành Công!</h2>
    <p>Cảm ơn bạn đã mua hàng.</p>
    <a asp-controller="Order" asp-action="Index" class="btn btn-primary mt-3">Quay về đơn hàng</a>
</div>
