@model Category
@using Microsoft.AspNetCore.Mvc.Rendering
@using _3.QKA_DACK.Models.CategoryModels
@{
	ViewData["Title"] = "Edit Category";
}
<h2>Edit Category</h2>
<form asp-action="Update" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
</form>



